.body
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgb(0, 0, 0)303;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Syncopate', sans-serif;
}

.ButtonText {
  font-family: 'Syncopate', sans-serif;
}


.RegText {
  text-align: center;
  padding-bottom:10px;
  caret-color: white;
}

.maxWidth {
  padding-top: 20px;
}

.modal{
  width: 465px;
  height: 490px;
  padding: 50px;
  background: #ffffff;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid #000000;
  border-radius: 14px;
}