.body {
        display: flex;
        
        
        background-color: #000000;
        border-radius: 16px;
        background: rgb(0, 0, 0)303;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: 'Open Sans', sans-serif;
}
.loginform {
        padding-top: 5px;
        width: 235px;
        height: 276px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
}
.data-container {
    margin-bottom: 20px; 
  }
  * {
        text-decoration: none;
      }
      .buttonForm{
        text-align: center;
      }
      .LogTitle{
        caret-color: transparent;
        text-align: center;
        padding-bottom: 20px;
      }