.Welcome-Title{
    font-family:'IBM Plex Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji';
    text-align: center;
    caret-color: white;
}

.titleCarret{
    caret-color: white;
      
}
.loginButton{
    caret-color: white;
}
.regButton{
    caret-color: white;
}
.test{
    padding-top: 20px;
}