.Welcome-Title{
    font-Family: "'Nunito Sans, sans-serif'";
    text-align: center;
    caret-color: #f4f1f9;
}

.titleCarret{
    caret-color: #f4f1f9;
      
}
.loginButton{
    caret-color: #f4f1f9;
}
.regButton{ 
    caret-color: #f4f1f9;
}
.test{
    padding-top: 20px;
}