
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-data-container {
    margin-top: 24px;
  }
  
  .chart-preview-container {
    margin-top: 24px;
  }
  
  .menu-button {
    margin-left: auto;
  }
  