
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer-content {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #f4f1f9;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.TextColor {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: contents;
  flex-direction: row;
  position: relative;


  
}

.TextColor a:visited {
  color: black;
}

.TextColor a:hover {
  
  transition: color 0.5s;
  color: #999999; 
}

.fix {
  padding-right: 16px;
}

.footer-hidden {
  transform: translateY(100%);
}
